<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <!-- StackOverflow_8537634 -->
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="EduLinkBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="EduLinkEndpointBehavior">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <services>
            <service name="StackOverflow_8537634.EduLink" behaviorConfiguration="EduLinkBehavior">
                <endpoint address=""
                          binding="webHttpBinding"
                          behaviorConfiguration="EduLinkEndpointBehavior"
                          contract="StackOverflow_8537634.IEduLink" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
