<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <!-- StackOverflow_8537634 -->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EduLinkEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="EduLinkBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="StackOverflow_8537634.EduLink" behaviorConfiguration="EduLinkBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  behaviorConfiguration="EduLinkEndpointBehavior"
                  contract="StackOverflow_8537634.IEduLink" />
      </service>
      <service name="Post_ca5941b4_bfcf_4546_a418_cc91a321c2fb.Service1">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Post_ca5941b4_bfcf_4546_a418_cc91a321c2fb.IService1"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
