<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\temp\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true"/>
    </system.diagnostics>
    <system.serviceModel>
        <services>
            <service name="QuickCode1.SampleService.NotHere">
                <endpoint address=""
                          binding="basicHttpBinding"
                          bindingConfiguration="MyService.MyServiceBinding"
                          contract="QuickCode1.ISampleContract" />
            </service>
            <service name="QuickCode1.Post_9144d4a8_f12c_4e27_a64d_7ea9092b3300+Service">
                <endpoint address=""
                          binding="basicHttpBinding"
                          bindingNamespace="http://my.namespace.com"
                          contract="QuickCode1.Post_9144d4a8_f12c_4e27_a64d_7ea9092b3300+ITest"/>
            </service>
        </services>
        <standardEndpoints>
            <webHttpEndpoint></webHttpEndpoint>
        </standardEndpoints>
        <bindings>
            <basicHttpBinding>
                <binding name="MyService.MyServiceBinding" maxReceivedMessageSize="5000000" maxBufferSize="5000000" messageEncoding="Mtom">
                    <readerQuotas maxStringContentLength="5000000"/>
                    <security mode="None"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <extensions>
            <behaviorExtensions>
                <add name="myCustomBehavior_10232385" type="QuickCode1.StackOverflow_10232385+MyCustomBehaviorExtension, QuickCode1"/>
            </behaviorExtensions>
        </extensions>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MyCustomBehavior_10232385">
                    <myCustomBehavior_10232385/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint name="Post_45883b7e_1d13_4b81_82d8_054364839d0d"
                      address="http://localhost/foo"
                      binding="basicHttpBinding"
                      contract="QuickCode1.Post_45883b7e_1d13_4b81_82d8_054364839d0d+ITest"/>
        </client>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
